<?xml version="1.0" encoding="UTF-8"?>

<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.0 http://maven.apache.org/xsd/assembly-1.1.0.xsd">
 
  <id>app</id>
 
  <formats>
    <format>zip</format>
    <!-- <format>tar.gz</format> -->
  </formats>
  
  <fileSets>
 
    <fileSet>
      <directory>target/app/bin</directory>
      <filtered>false</filtered>
      <outputDirectory>bin</outputDirectory>
      <directoryMode>0700</directoryMode>
      <fileMode>0700</fileMode>
    </fileSet>
 
    <fileSet>
      <directory>src/main/config</directory>
      <filtered>false</filtered>
      <outputDirectory>config</outputDirectory>
      <directoryMode>0700</directoryMode>
      <fileMode>0600</fileMode>
    </fileSet>

    <fileSet>
      <directory>target/app/lib</directory>
      <filtered>false</filtered>
      <outputDirectory>lib</outputDirectory>
      <excludes>
        <!-- jars for Raspberry Pi only -->
        <exclude>*x86*</exclude>
        <exclude>*ppc*</exclude>
        <exclude>*arm64*</exclude>
        <exclude>*android*</exclude>
        <!-- This API is provided by BellSoft's Liberica JDK -->
        <exclude>org.openjdk.dio.jar</exclude>
      </excludes>
      <directoryMode>0700</directoryMode>
      <fileMode>0600</fileMode>
    </fileSet>
    
  </fileSets>
 
</assembly>